<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    
    
    <div class="highlight-clean">
        <div class="container">
<h1 class="text-center">Live Sketching Application</h1>
            <div class="intro"><div class="heading"><img src="{{ url_for('video_feed') }}" ></div>
                <h2 class="text-center">Description</h2>
                <p class="text-center">This is a Live sketching program made with help of OpenCV and Flask, and is hosted on Heroku.Works better in good light condition. Get the code from github repository.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Github Repo</a><script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="dwivedi-arpit"><a class="LI-simple-link" href='https://in.linkedin.com/in/dwivedi-arpit?trk=profile-badge'>ARPIT DWIVEDI</a></div></div>
 

    </div>
  </div>
</div></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
